/* DEFINE COLOR PALLETS */
:root {
  --bgLight: #FEF2EB;
  --bgDark: #EADED8;

  --brownLight1: #F9E8DC;
  --brownLight2: #D0B49F;
  --brownDark1: #946E5A;
  --brownDark2: #674E41;

  --blueLight1: #DEE7EF;
  --blueLight2: #C0CEDA;
  --blueDark1: #9BA8B2;
  --blueDark2: #4F606D;

  --greenLight1: #EAF4E6;
  --greenLight2: #D7E3D3;
  --greenDark1: #9AB190;
  --greenDark2: #5A7152;

  --redLight1: #FCE8E5;
  --redLight2: #EFD4D0;
  --redDark1: #C0857D;
  --redDark2: #8E554C;
}
/* to use it--> var(--redDark2) */

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgLight);
  font-family: "Silkscreen", sans-serif;
  display: flex;
}

.overlay {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  margin: 0px;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  opacity: 70%;
}

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 810px;
  height: 576px;
  background-image: url("assets/img/Environment/kitchen.png");
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid var(--bgDark);
}

.btn img {
  width: 10px;
  height: auto;
}

.mitty-container {
  position: absolute;
  margin: 10px 30px 0px 25px;
  width: 230px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.mitty {
  width: 50px;
  height: 50px;
}

.speechbubble {
  width: 175px;
  height: 170px;
}

.mitty-bar {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 60%;
}

.mitty-text {
  position: absolute;
  right: 17px;
  top: 35px;
  font-size: 10px;
  width: 55%;
  color: var(--blueDark2);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--bgDark);
  color: var(--bgDark);
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-size: 30px;
  margin: 5px;
  padding: 0 5px;
  background-color: var(--brownDark1);
}

.box {
  background-color: var(--brownLight1);
  width: 500px;
  height: 300px;
  margin: 2em auto;
  margin-top: 100px;
  box-shadow:
    -10px 0 0 0 var(--brownDark1),
    10px 0 0 0 var(--brownDark1),
    0 -10px 0 0 var(--brownDark1),
    0 10px 0 0 var(--brownDark1);
}

.app {
  background-color: var(--greenLight2);
  width: 500px;
  height: 300px;
  box-shadow:
    -10px 0 0 0 var(--greenDark1),
    10px 0 0 0 var(--greenDark1),
    0 -10px 0 0 var(--greenDark1),
    0 10px 0 0 var(--greenDark1);
}

.inner-box {
  background-color: var(--brownLight1);
  margin: 2em auto;
  height: 100px;
  box-shadow:
    -4px 0 0 0 var(--brownDark1),
    4px 0 0 0 var(--brownDark1),
    0 -3px 0 0 var(--brownDark1),
    0 3px 0 0 var(--brownDark1);
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 10px;
  width: 40%;
}

.empty {
  width: 90%;
  height: 190px;
  color: var(--brownDark1);
  font-size: 2vh;
  margin: 0px;
  margin-bottom: 30px;
}

.ingredients {
  background-color: var(--greenLight2);
  width: 90%;
  height: 260px;
  color: var(--greenLight1);
  font-size: 11px;
  margin: 0px;
  overflow: scroll;
}

.ingredients img {
  width: 100%;
}

.ingredients p {
  margin: 10px;
  color: var(--greenDark2);
}

.ingredients-container {
  background-color: var(--greenLight1);
  margin: 2%;
  padding: 1%;
}

.grandma-ui {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 85%;
  height: 460px;
  overflow: hidden;
}

.grandma-ui img {
  width: 100%;
}

.inner-container {
  display: flex;
  flex-direction: row;
  height: 88%;
  width: 110%;
  margin: 2%;
}

.inner-container div {
  margin: 0px;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0px;
}

.left div {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.terminal {
  height: 100%;
}

.text-input {
  height: 35%;
}

.user-chat-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 5px;
}

.user-chat-container input[type="text"] {
  font-family: "Half Bold Pixel-7", sans-serif;
  background-color: var(--bgLight);
  color: var(--brownDark2);

  height: 10vh;
  width: auto;
  box-sizing: border-box;
  resize: none;

  padding-left: 5%;
  border: none;
  
  overflow-wrap: break-word;
  /* flex: 1; */
}

#user_input::placeholder {
  color: #999;
  padding: 5%;
}

.user-chat-container button {
  font-family: "Half Bold Pixel-7", sans-serif;
  background-color: var(--brownDark1);
  color: var(--bgDark);
  border: none;
  width: 25%;
  margin-left: 10px;
  height: 70px;
  cursor: pointer;
  box-shadow:
    -3px 0 0 0 var(--brownDark2),
    3px 0 0 0 var(--brownDark2),
    0 -3px 0 0 var(--brownDark2),
    0 3px 0 0 var(--brownDark2);
}

.user-chat-container button:hover {
  background-color: var(--brownDark2);
  color: var(--bgDark);
  box-shadow:
    -3px 0 0 0 var(--brownDark1),
    3px 0 0 0 var(--brownDark1),
    0 -3px 0 0 var(--brownDark1),
    0 3px 0 0 var(--brownDark1);
  width: 25%;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 29%;
  margin: 0px;
}

.right div {
  margin: 10px;
  height: 30%;
}

.bottombar img {
  width: 20%;
}

#main {
  /* display: none; */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* TERMINAL SETUP */
/* TERMINAL SETUP */
/* TERMINAL SETUP */
/* TERMINAL SETUP */
/* TERMINAL SETUP */

.inter {
  padding-left: 0px;
}

.terminal.inner-box {
  position: relative;
}

#commandDiv {
  background-color: var(--bgLight);
  padding-left: 10px;
  padding-right: 0%;
  word-wrap: normal;
  word-break: keep-all;
  /* white-space: nowrap;
  height: 100%;
  width: 95%;
  overflow-x: auto;
  overflow-y: auto;
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
  /* border: 0.1rem solid; */
  /* padding: -15px; */
  /*padding: 0px;
  line-height: -0.5px; */
}

.sendBtn {
  width: 10px;
  margin-right: 10px;
}

/* TERMINAL COLOR */
/* TERMINAL COLOR */
/* TERMINAL COLOR */
/* TERMINAL COLOR */
/* TERMINAL COLOR */

.terminal {
  --size: 1;
  overflow: hidden;
  scroll-behavior: smooth;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
  white-space: nowrap;
  --color: var(--brownDark2);
}

.cmd {
  /* user input color */
  --color: var(--bgLight);
}

.cmd-prompt {
  /* blinking input color */
  --color: var(--brownDark2);
}

/* TERMAL FONT */
/* TERMAL FONT */
/* TERMAL FONT */
/* TERMAL FONT */
/* TERMAL FONT */

:root {
  --size: 2;
  --font: "Half Bold Pixel-7";
}

@font-face {
  font-family: "Half Bold Pixel-7";
  src: url("./assets/font/half_bold_pixel-7.ttf");
}

.preloader {
  font-family: "Half Bold Pixel-7", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  /* overflow: hidden !important; */
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* HTML UPLOAD */
/* HTML UPLOAD */
/* HTML UPLOAD */
/* HTML UPLOAD */
/* HTML UPLOAD */

main {
  max-width: 20vw;
  margin: 0 auto;
}

.upload {
  background-color: var(--greenLight1);
  background-image: url("assets/img/UI/buttons/upload_all.png");
  background-size: 140px 111px;
  box-shadow:
    -4px 0 0 0 var(--greenDark1),
    4px 0 0 0 var(--greenDark1),
    0 -3px 0 0 var(--greenDark1),
    0 3px 0 0 var(--greenDark1);
  overflow: hidden;
}

.upload:hover {
  background-color: var(--greenLight1);
  background-image: url("assets/img/UI/buttons/upload_all_hover.png");
  background-size: 140px 111px;
  box-shadow:
    -4px 0 0 0 var(--greenDark1),
    4px 0 0 0 var(--greenDark1),
    0 -3px 0 0 var(--greenDark1),
    0 3px 0 0 var(--greenDark1);
  overflow: hidden;
}

.dropzone {
  background-color: transparent;
  color: var(--greenDark1);
  height: 10px;
  padding: 0px;
  margin: 0px;
}

small {
  display: block;
  text-align: center;
}

/* STYLING IMG BOX */
.cooking.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cooking.inner-box img {
  max-width: 100%;
  height: auto;
}