/* DEFINE COLOR PALLETS */
:root {
  --bgLight: #FEF2EB;
  --bgDark: #EADED8;

  --brownLight1: #F7E3D4;
  --brownLight2: #D0B49F;
  --brownDark1: #946E5A;
  --brownDark2: #674E41;

  --blueLight1: #DEE7EF;
  --blueLight2: #C0CEDA;
  --blueDark1: #9BA8B2;
  --blueDark2: #4F606D;

  --greenLight1: #EAF4E6;
  --greenLight2: #D7E3D3;
  --greenDark1: #9AB190;
  --greenDark2: #5A7152;

  --redLight1: #FCE8E5;
  --redLight2: #EFD4D0;
  --redDark1: #C0857D;
  --redDark2: #8E554C;
}
/* to use it--> var(--redDark2) */

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

@font-face {
  font-family: "Hardpixel";
  src: url("./assets/font/Hardpixel.OTF") format("opentype");
}

@font-face {
  font-family: "Halfpix";
  src: url("./assets/font/half_bold_pixel-7.ttf") format("truetype");
}

@font-face {
  font-family: "Bulkypix";
  src: url("./assets/font/BULKYPIX.TTF") format("truetype");
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  background-color: var(--bgLight);
  font-family: "Silkscreen", sans-serif;
  margin: 0px;
}

.overlay {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  margin: 0px;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  opacity: 70%;
}

a {
  color: var(--brownDark1);
}

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 810px;
  height: 576px;
  background-image: url("assets/img/Environment/kitchen.png");
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid var(--bgDark);
}

.mitty-container {
  position: absolute;
  margin: 30px;
  width: 230px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.mitty {
  width: 50px;
  height: 50px;
}

.speechbubble {
  width: 175px;
  height: 170px;
}

.mitty-bar {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 60%;
}

.mitty-text {
  font-family: "Halfpix";
  position: absolute;
  right: 17px;
  top: 35px;
  font-size: 10px;
  width: 55%;
  color: var(--blueDark2);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--bgDark);
  color: var(--bgDark);
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-size: 30px;
  margin: 5px;
  padding: 0 5px;
  background-color: var(--brownDark1);
}

.grandma-app img {
  position: relative;
  top: 14vw;
  left: 38vw;
  height: 20%;
}

.grandma-app p {
  position: relative;
  top: 20vw;
  left: 40vw;
  color: var(--brownDark1);
}

.open-app {
  position: relative;
  top: 130;
  left: 500;
  width: 100px;
  height: 25%;
  margin: 50px;
  background-image: url("./assets/img/UI/icons/Recipe_icon.png");
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

.open-app:hover {
  background-image: url("./assets/img/UI/icons/Recipe_icon_hover.png");
}

.recipebox {
  width: 50%;
  height: 50vh;
  margin: 2em auto;
  box-shadow:
    -10px 0 0 0 var(--brownDark1),
    10px 0 0 0 var(--brownDark1),
    0 -10px 0 0 var(--brownDark1),
    0 10px 0 0 var(--brownDark1);
}

.welcomebox {
  position: absolute;
  background-color: var(--redLight2);
  width: 250px;
  height: 250px;
  top: 70;
  left: 450px;
  margin: 1em auto;
  box-shadow:
    -10px 0 0 0 var(--redDark1),
    10px 0 0 0 var(--redDark1),
    0 -10px 0 0 var(--redDark1),
    0 10px 0 0 var(--redDark1);
  /* z-index: -1; */
}

.loginbox {
  position: relative;
  font-family: "Hardpixel";
  width: 400px;
  height: 200px;
  top: 180;
  margin: 2em auto;
  padding: 10;
  padding-bottom: 0;
  background-color: var(--brownLight1);
  box-shadow:
    -10px 0 0 0 var(--brownDark1),
    10px 0 0 0 var(--brownDark1),
    0 -10px 0 0 var(--brownDark1),
    0 10px 0 0 var(--brownDark1);
}

::placeholder {
  font-family: "Silkscreen", sans-serif;
}

#password::placeholder {
  color: var(--brownDark1);
}

#user {
  color: var(--brownDark1);
  font-family: "Silkscreen", sans-serif;
  width: 147px;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.topbar img {
  width: 100%;
}

#login-controls {
  position: relative;
  top: 10;
  left: 20;
  width: 40%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: "Silkscreen", sans-serif;
  font-size: 15px;
  color: var(--brownDark1);
  letter-spacing: 0.1cap;
}

.loginBtn {
  width: 80%;
  height: 100%;
  padding: 5%;
  transform: scale(0.6);
  margin-left: -15px;
  margin-top: 5px;
  font-family: "Bulkypix";
  font-size: 20;
  background-color: var(--brownDark1);
  color: var(--bgDark);
  box-shadow:
    -5px 0 0 0 var(--brownDark2),
    5px 0 0 0 var(--brownDark2),
    0 -5px 0 0 var(--brownDark2),
    0 5px 0 0 var(--brownDark2);
}

.loginBtn:hover {
  width: 80%;
  height: 100%;
  padding: 5%;
  font-family: "Bulkypix";
  font-size: 20;
  background-color: var(--brownDark2);
  color: var(--bgDark);
  box-shadow:
    -5px 0 0 0 var(--brownDark1),
    5px 0 0 0 var(--brownDark1),
    0 -5px 0 0 var(--brownDark1),
    0 5px 0 0 var(--brownDark1);
}

label {
  display: block;
  margin-bottom: 5px;
}

#main {
  /* display: none; */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.recipebox {
  background-color: var(--greenLight2);
  width: 500px;
  height: 300px;
  margin-top: 100px;
  box-shadow:
    -10px 0 0 0 var(--greenDark1),
    10px 0 0 0 var(--greenDark1),
    0 -10px 0 0 var(--greenDark1),
    0 10px 0 0 var(--greenDark1);
  padding: 10px;
}

.topbar img {
  width: 100%;
}

.recipeholder {
  background-color: var(--greenLight1);
  
  display: flex;
  flex-direction: row;

  height: 69%;
  margin-top: 10;

  text-align: center;
  font-size: 2vh;
  color: var(--brownDark2);
}

.recipeholder div {
  margin: 10px;
}

.recipeholder p {
  margin: 0px;
}

.foodicon {
  width: 50px;
}

.bottombar {
  background-color: var(--greenDark1);
  width: auto;
  height: 35;
  margin: 10 0;
  color: var(--greenLight2);
  display: flex;

  font-size: 25; 
  display: flex; 
  align-items: center;
}
